
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .cart{
    background-color: #225d85;
    flex: 1;
    cursor: pointer;
    padding: 10px;
    color: white;

  }
  
  .i-carrito{
    font-size: 2em;  
  }

  .cart:hover{
    background-color: #FFD166;
    color: #091540 !important;
  }

  