
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .nav{
    background-color: #225d85;
    overflow: hidden;
    /* width: 90%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 15;
  } 

  li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    border-radius: 25px;
    cursor: pointer;
    color:white ;

  }

  li:hover{
    background-color: #FFD166;
    color: #091540 !important;
  }

  .nav-flex{
    flex:15;
  }


  
  