:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .nav{
    background-color: #302e34;
    overflow: hidden;
    /* width: 90%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 15;
  } 

  li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    border-radius: 25px;
    cursor: pointer;

  }

  li:hover{
    background-color: #45424b;
  }

  li > span{
    color: rgb(102, 195, 86) !important;
  }

  .nav-flex{
    flex:15;
  }


  
  